
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="actualizarInformacionUsuario()">

            <div class="form-group">
              <label>Localidad</label>
              <input type="email" class="form-control"  placeholder="Girona">
            </div>
            <div class="form-group">
              <label>Descripcion</label>
              <textarea type="text" class="form-control"  placeholder="Describete..."></textarea>

            </div>
            <button type="submit" name="button" class="btn btn-block btn-outline-success">Guardar Cambios</button>
          </form>
        </div>

      </div>
    </div>
