<ul class="nav nav-pills nav-fill">
  <li class="nav-item" >
    <a class="nav-link" routerLinkActive="active" [routerLink]="['quedada-form']">Quedadas</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" routerLinkActive="active" [routerLink]="['compra-form']">Compra/Venta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['servicio-form']">Servicios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['otros-form']">Otros</a>
  </li>
</ul>
<router-outlet></router-outlet>
