#modalLogin{
  color :black;
}
#modalLogin hr{
  color :black;
}
#dropdownMenu2{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-size: cover;

}
.btnMenuUsuario{
width: 2px;
}
.dropdown-menu{
  min-width: auto;
}
.fotoPerfilBarraIzquierda{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0 auto;
}

#columnaNavegacionPerfil .list-group-item.active{
  background-color: red;
  border-color: red;
}
.pointer{
  cursor: pointer;
}
